nav {
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: #219ebc;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-decoration: none;
}

.ul-links {
    gap: 30px;
}

.ul-links-right {
    gap: 10px;
}

li {
   list-style: none;
}

.li-links:hover {
    border-radius: 50%;
    background-color: #8ecae6;
}

.navlink {
    text-decoration: none;
    color: #ffb703;
    font-weight: 800;
}

.links {
    right: 80vw;
}

.links-loggedIn {
    display: flex;
    gap: 10px;
    right: 0;
}

button:hover {
    background-color: #8ecae6;
}