.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
  
.form-group {
  margin-bottom: 20px; /* Adjust the spacing between input fields */
}

/* Input Styles */
.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px; /* Adjust the spacing between input fields */
  box-sizing: border-box;
}

.press {
  height: 4vh;
}
