.search-body {
    margin: 20px 20px 60px;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
}

.buy-button {
    display: inline-block;
    padding: 4px 6px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #8ecae6;
    color: #fb8500;
    background-color: #023047;
    border-radius: 3px;
}

.flight-list-search {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.flight-in-list {
    padding: 10px;
    border: 3px solid #023047;
    border-radius: 10px 20px 10px 20px;
    width: 20vw;
}

.flight-route {
    font-weight: 800;
}

.error-div {
    color: #fb8500;
}

.press-search {
    width: 8vw;
    font-size: 1rem;
}

.image-slider {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.why-us-container, .our-team-container {
    padding: 20px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.why-us-container {
    align-self: flex-start;
    display: flex;
    max-width: 500px;
    gap: 20px;
    align-items: center;
    background: linear-gradient(135deg, #A9A9A9, #2F4F4F);
}

.our-team-container {
    align-self: flex-end;
    display: flex;
    max-width: 500px;
    gap: 20px;
    align-items: center;
    background: linear-gradient(135deg, #A9A9A9, #2F4F4F);
}